
*.zip

fonts/bantorain/Bantorain Bold Italic.otf

fonts/bantorain/Bantorain Bold.otf

fonts/bantorain/Bantorain Italic.otf

fonts/bantorain/Bantorain.otf

fonts/bantorain/Font License.txt

fonts/newpaper/newspaper.otf

fonts/newpaper/newspaper.ttf

fonts/newpaper/newspaper.woff

fonts/rodeo/READ ME.txt

fonts/shadser/SHADOWED.TXT

images/extra_clean_paper/extra_clean_paper_@2X.png

images/lightpaperfibers/lightpaperfibers_@2X.png

images/ricepaper_v3/ricepaper_v3_@2X.png

images/ricepaper_v3/readme.txt

images/lightpaperfibers/readme.txt

images/extra_clean_paper/readme.txt
